<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paniers - Librairie</title>
</head>
<body>
    <h1>Gestion des Paniers</h1>
    <section>
        <h2>Liste des Paniers</h2>

        <table>
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Quantité</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let panier of panier$ | async; traclBy: trackPanier" >
                    <td>{{ panier.articleId }}</td>
                    <td>{{ panier.quantite }}</td>
                    <td>
                        <button (click)="editer(panier)">Modifier</button>
                        <button (click)="supprimer(panier)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <hr>

    <section *ngIf="showForm">
        <h2>Modifier mes paniers</h2>
        <form (ngSubmit)="valider()" [formGroup]="panierForm">

            <label for="quantite">Quantité :</label>
            <input id="quantite" formControlName="quantite" type="number"/>
                @if (quantiteCtrl.hasError('required')) {
                    <span class="error">Le quantite est requise.</span>
                }

            <button type="submit">Enregistrer</button>
            <button type="button" (click)="annuler()">Annuler</button>
        </form>
    </section>

</body>
</html>