<header>
  <nav>
    <div>
      <span>Librairie</span>
      <button routerLink="home" routerLinkActive="active">Accueil</button>
      <button routerLink="auteur" routerLinkActive="active">Auteurs</button>
      <button routerLink="livre" routerLinkActive="active">Livres</button>
      <button routerLink="genre" routerLinkActive="active">Genres</button>
      <button routerLink="papeterie" routerLinkActive="active">Papeterie</button>
      <button routerLink="article" routerLinkActive="active">Articles</button>
      <button routerLink="catalogue" routerLinkActive="active">Catalogue</button>
    </div>
  </nav>
</header>
