<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suivis - Librairie</title>
</head>
<body>
    <h1>Gestion des Suivis</h1>
    <section>
        <h2>Liste des Suivis</h2>

        <table>
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Article Libelle</th>
                    <th>Client</th>
                    <th>Client Nom</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let suivi of suivi$ | async; trackBy: trackSuivi" >
                    <td>{{ suivi.article?.id }}</td>
                    <td>{{ suivi.article?.libelle }}</td>
                    <td>{{ suivi.client?.id }}</td>
                    <td>{{ suivi.client?.nom }}</td>
                    <td>
                        <button (click)="editer(suivi)">Modifier</button>
                        <button (click)="supprimer(suivi)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <hr>

    <button *ngIf="!showForm" (click)="showForm = true">Ajouter un Suivi</button>

    <section *ngIf="showForm">
        <h2>Formulaire d'ajout</h2>
        <form (ngSubmit)="creerOuModifier()" [formGroup]="suiviForm">
            
            <label for="articleId">Article :</label>
            <select id="articleId" formControlName="articleId">
                <option *ngFor="let article of article$ | async" [value]="article.id">
                    (id: {{ article.id }}) {{ article.libelle }}
                </option>
            </select>
                @if (articleIdCtrl.hasError('required')) {
                    <span class="error">L'article est requis.</span>
                }

            <br/>

            <label for="clientId">Id Client :</label>
            <select id="clientId" formControlName="clientId">
                <option *ngFor="let client of client$ | async" [value]="client.id">
                    (id: {{ client.id }}) {{ client.nom }}
                </option>
            </select>
                @if (clientIdCtrl.hasError('required')) {
                    <span class="error">Le client est requis.</span>
                }


            <br/>

            <button type="submit">Enregistrer</button>
            <button type="button" (click)="showForm = false">Annuler</button>

        </form>
    </section>

</body>
</html>