<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Librairie</a>
    <div>
      <ul>
        <li><a routerLink="auteur" routerLinkActive="active">Auteurs</a></li>
        <li><a routerLink="livre" routerLinkActive="active">Livres</a></li>
        <li><a routerLink="genre" routerLinkActive="active">Genres</a></li>
        <li><a routerLink="papeterie" routerLinkActive="active">Papeterie</a></li>
        <li><a routerLink="article" routerLinkActive="active">Articles</a></li>
        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
    </ul>
    </div>
  </div>
</nav>